@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(to bottom, #16a085, #bcd3c1);
    color: #ecf0f1;
    padding: 20px;
    min-height: 100vh;
    position: relative;
}

header {
    text-align: center;
    margin-bottom: 30px;
}

header h1 {
    font-size: 2.5em;
    color: #ecf0f1;
}

#search-section {
    text-align: center;
    margin-bottom: 30px;
}

#customer-name-input {
    padding: 10px;
    font-size: 16px;
    width: 50%;
    border-radius: 8px;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #008cba;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-left: 10px;
}

button:hover {
    background-color: #007bb5;
}

#error-message {
    color: red;
    margin-top: 15px;
}

#search-results {
    text-align: center;
}

.customer-card {
    background-color: #fff;
    color: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 10px 40px rgba(60, 60, 60, 0.4);
    margin: 15px auto;
    width: 50%;
    text-align: left;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #008cba;
    color: white;
    bottom: 0;
    width: 100%;
}

/* Responsive Design */
@media (max-width: 768px) {
    #customer-name-input {
        width: 100%;
    }

    .customer-card {
        width: 90%;
    }
}
