@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
   
    background-repeat: no-repeat;
    color: #008cba;
    padding: 20px;
    position: relative;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    background: #fff;
    padding: 20px 15px;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    width: 100%; /* Occupy full screen */
}

.nav-links {
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.nav-links li {
    list-style: none;
    margin: 0 12px;
}

.nav-links li a {
    position: relative;
    color: #333;
    font-size: 20px;
    font-weight: 500;
    padding: 6px 0;
    text-decoration: none;
}

.nav-links li a:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 0%;
    background: #34efdf;
    border-radius: 12px;
    transition: all 0.4s ease;
}

.nav-links li a:hover:before {
    width: 100%;
}

.logout {
    cursor: pointer;
}

header {
    text-align: center;
    margin: 20px 0;
}

header h1 {
    font-size: 2em;
    color: #008cba;
}

.search-container {
    margin-top: 15px;
    text-align: center;
}

#search-bar {
    padding: 10px;
    width: 40%;
    border: none;
    border-radius: 5px;
    box-shadow: 0 10px 25px rgba(60, 60, 60, 0.4);
}




#products {
    margin-top: 30px;
}

.product-list {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 25px;
}

.product {
    background: linear-gradient(to bottom,  #bcd3c1,#16a085);
    padding: 25px;
    margin: 15px;
    border-radius: 10px;
    color: black;
    box-shadow: 0 10px 40px rgba(60,60,60,.4);
    text-align: center;
    width: 30%;
    box-sizing: border-box;
}

.product img {
    max-width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
}

.product h3 {
    font-size: 1.2em;
    margin: 10px 0;
}

.add-to-cart {
    background-color: #008cba;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 15px;
}
.search-product {
    background-color: #16a085;
    color: white ;
    border: none;
    padding: 10px 15px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    border-radius: 5px;
    margin-top: 15px;
}

.hidden {
    display: none;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #008cba;
    color: white;
   
    bottom: 0;
    width: 100%;
    margin-top: 15px;
    bottom: 0;
}
@media (max-width: 768px) {
    .product {
        width: 100%;
        margin: 15px 0;
    }
}