@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.nav-container {
    display: flex;
    width: 90%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.nav-links {
    display: flex;
    align-items: center;
    background: #fff;
    padding: 20px 15px;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.nav-links li {
    list-style: none;
    margin: 0 12px;
}

.nav-links li a {
    position: relative;
    color: #333;
    font-size: 20px;
    font-weight: 500;
    padding: 6px 0;
    text-decoration: none;
}

.nav-links li a:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 0%;
    background: #34efdf;
    border-radius: 12px;
    transition: all 0.4s ease;
}

.nav-links li a:hover:before {
    width: 100%;
}

.nav-links li.center a:before {
    left: 50%;
    transform: translateX(-50%);
}

.nav-links li.upward a:before {
    width: 100%;
    bottom: -5px;
    opacity: 0;
}

.nav-links li.upward a:hover:before {
    bottom: 0px;
    opacity: 1;
}

.nav-links li.forward a:before {
    width: 100%;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s ease;
}

.nav-links li.forward a:hover:before {
    transform: scaleX(1);
    transform-origin: left;
}

.logout{
    cursor: pointer;
}


.profile{
   
    background-repeat: no-repeat;
    color: #ecf0f1;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile__container{
    display: flex;
    justify-content: center;
    background: linear-gradient(to bottom, #16a085, #bcd3c1);
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
    margin-top: 35px;
    box-shadow: 0 10px 5px rgba(60, 60, 60, .4);
    width: 80%;
    height: 80%;
}

.profile__input{
    width: 80%;
    border: none;
    border-radius: 5px;
    padding: 10px 5px;
    margin-bottom: 20px;
    box-shadow: 0 10px 5px rgba(60, 60, 60, .4);
    outline: none;
    transition: all .2s;
}

.profile__input:active,:focus{
    box-shadow: 0 10px 5px rgba(60, 60, 60, .8);
}

.profile__input:disabled{
    cursor: not-allowed;
}

.profile_btn{
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    color: #fff;
	background: #573b8a;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    transition: all .2s;
}

.profile_btn:hover{
    color: #573b8a;
	background: #fff;
}

.profile_btn:disabled{
    cursor: not-allowed;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}